<div class="login-container">

    <form>
        <div class="logo">
            <div class="col-md-6">
                <mat-icon svgIcon="logo"></mat-icon>
            </div>
        </div>

        <strong>Número de identificación</strong>
        <mat-form-field appearance="outline">
            <mat-label>Ingrese su número de identificación</mat-label>
            <input matInput type="text" placeholder="Número de identificación">
        </mat-form-field>

        <strong>Contraseña</strong>
        <mat-form-field appearance="outline">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña">
        </mat-form-field>

        <div class="olvidar-contrasena">
            <a href="#">¿Olvidó su contraseña?</a>
        </div>

        <div class="button-container">
            <button mat-raised-button color="primary">Iniciar sesión</button>
        </div>
    </form>
</div>