.app-header {
    position: fixed;   
    top: 0;
    right: 0;          
    padding: 10px 20px;
    font-weight: bold;
  }

  .app-footer {
    position: fixed;   
    bottom: 0;
    left: 50%;         
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    width: auto;
  }
  