<mat-nav-list class="container">
    <div class="logo">
      <mat-icon class="icon" svgIcon="logo"></mat-icon>
    </div>
    
    <div>
      @for (menu of listMenu; track $index) {
        <mat-list-item>
          <a [routerLink]="menu.url">
            <button mat-icon-button>
              <mat-icon [svgIcon]="menu.icon"></mat-icon>
              <span>{{ menu.tittle }}</span>
            </button>
          </a>
        </mat-list-item>
      }
    </div>
    
    <div class="user-section">
      <div class="user-info">
        <mat-icon class="user-icon" svgIcon="user"></mat-icon>
        <span class="admin-text">Admin</span>
      </div>
      <button mat-button class="logout-button">
        <span>Cerrar sesión</span>
      </button>
    </div>
  </mat-nav-list>